chumpy
fvcore
iopath
plyfile
dearpygui
roma
pytorch_lightning
diffusers
transformers
omegaconf
libigl
controlnet_aux
matplotlib
torch_scatter
trimesh
ninja 
open3d
"git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch"
"git+https://github.com/facebookresearch/pytorch3d.git"